body{
    background-color: burlywood;
    font-family: sans-serif;
   
}
button{
    background-color: red;
    border-radius: 10px;
    padding: 10px;
    margin:50% 50%;
    border: white solid 20px;
    font-size: larger;
}
.abc{
    border: white solid 20px;
    background-color: blue;
    padding:20px;
    font-size: x-large;
    color: white;
    margin: 50% 50%;
}
